<div class="container">
    <table class="table table-hover bg-white">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        <% @categories.each do |category| %>
            <tr>
                <th scope="row"><%=category.id%></th>
                <td><%=category.name%></td>
                <td>
                    <%= link_to 'View', category_path(category), class: "btn btn-primary btn-sm mr-3" %>
                    <% if logged_in? && current_user.admin? %>
                        <%= link_to 'Edit', edit_category_path(category), class: "btn btn-info btn-sm mr-3" %>
                        <%= link_to 'Delete', category_path(category), method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "Are you sure?"} %>
                    <% end %>
                </td>
            </tr>
        <% end %>
         </tbody>
    </table>
    
    <% if logged_in? && current_user.admin? %>
    <div class="mb-4">
        <%= link_to 'Add Category', new_category_path, class: "btn btn-primary btn-sm" %>
    </div>
    <% end %>
    
    <% if @categories.count == 0 %>
      <div class="font-italic text-center">No categories found</div>
    <% end %>

    <div class="text-center">
        <%= will_paginate @categories, class: "apple_pagination" %>
    </div>
</div>